body{
    background:#ccc;
    }
    .input{
        width:380px;
        border:0px solid;
        border-radius:10px;
        height:40px;
        margin-top:10px;
        margin-left:10px;
        padding-left:50px;
        box-shadow:inset 0px 0px 10px 10px rgba(0,0,0,0.099);
        outline:0px;
        transition:all .5s;
    }
    
    ::-webkit-input-placeholder {
        font-size: 18px;
        line-height: 3;
    }
    
    .input:focus{
        background-position:right;
        padding-left:10px;
    }
    
    .inputUser{
        background:url('./icons/user.png') white;
        background-repeat:no-repeat;
        background-position:0 center;
        background-size:40px 40px;
    }
    .inputPhone{
        background:url('./icons/phone.png') white;
        background-repeat:no-repeat;
        background-position:0px center;
        background-size:40px 40px;
    }
    .inputEmail{
        background:url('./icons/email.png') white;
        background-repeat:no-repeat;
        background-position:0px center;
        background-size:40px 40px;
    }
    .inputPassword{
        background:url('./icons/password.png') white;
        background-repeat:no-repeat;
        background-position:0px center;
        background-size:40px 40px;
    }
    
    
    #form{
        border:1px solid transparent;
        margin:auto;
        width:400px;
        background: #45484d; /* Old browsers */
        background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        height:410px;
        position:relative;
        border-radius:10px;
        margin-top:80px;
            box-shadow:0px 0px 5px 5px rgba(0,0,0,0.1);
    
    }
    form>p{
        color:white;
        text-align:center;
        font-family:calibri;
        font-size:24px;
    }
    
    .btn{
        width:140px;
        height:40px;
        position:absolute;
        right:0;
        margin-top:10px;
        margin-right:20px;
        border-radius:8px;
        background: #929a23; /* Old browsers */
        background: -moz-linear-gradient(top,  #929a23 0%, #8eb92a 50%, #72aa00 51%, #929a23 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #929a23 0%,#8eb92a 50%,#72aa00 51%,#929a23 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #929a23 0%,#8eb92a 50%,#72aa00 51%,#929a23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929a23', endColorstr='#929a23',GradientType=0 ); /* IE6-9 */
        color:white;
        border:0px solid;
        transition:all .2s;
    }
    .btn:hover{
        cursor:pointer;
    }
    
    #form span p{
        color:white;
        margin-left:10px;
        font-family:calibri;
    }
    #form span p a{
        color:#929A23;
    }
    
    .footer{
        text-align:center;
        font-family:calibri;
        font-size:18px;
        font-weight:bold;
    }
    .footer a{
        text-decoration:none;	
        color: #929a23;
    }